.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  background-image: url('./image/bg1.jpg'); 
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.FoodSelection {
  z-index: 2; 
  color: white; 
}

.Titlee {
  z-index: 3;
}

